@mixin twosecs {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

@mixin onesec {
	transition: all 0.05s;
	-moz-transition: all 0.05s;
	-webkit-transition: all 0.05s;
}

/************ BREAK POINTS *****************/

$bp-small: 20em;
$bp-med: 35.3em;
$bp-tab: 46.8em;
$bp-large: 46.9em;
$bp-xl: 73em;

/************** Icon Fonts ***************/


/************** Font Fonts ***************/

$aller: "aller", Helvetica, sans-serif;
$ranger: "ranger", Helvetica, sans-serif;

/************** Colors ***************/

$red: rgb(182,63,68);
$orange: rgb(212,154,73);
$light_blue: rgb(99,155,171);
$med_blue: rgb(30,34,44);
$dark_blue: rgb(25,30,37);
$grey: rgb(187,188,189);
$green: rgb(10,215,116);

