/* ===================
   Import SASS Files (defaults to _SASS directory)
   ================= */

@import
    "assets/css/_sass/mixins",
    "assets/css/_sass/animate.min",
    "assets/css/_sass/reset",
    "assets/css/_sass/fonts",
    "assets/css/_sass/jeff-styles",
    "assets/css/_sass/buttons",
    "assets/css/_sass/table_stuff",
    "assets/css/_sass/state",
    "assets/css/_sass/select",
    "assets/css/_sass/form",
    "assets/css/_sass/internal_content"
;

/* ==========================================================================
   Base Styles
   ========================================================================== */

html,
button,
input,
select,
textarea {

}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: $aller;
    color: $grey;
    background: $dark_blue;
}

.ranger { font-family: $ranger; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $red;
    color: #FFF;
    text-shadow: none;
}

::selection {
    color: #FFF;
    background: $red;
    text-shadow: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
}

/* ==========================================================================
   Largest Size Viewports
   ========================================================================== */

@import "assets/css/_sass/header";
@import "assets/css/_sass/home";
@import "assets/css/_sass/footer";

/* ==========================================================================
   Mobile and Small Viewports
   ========================================================================== */


/* Mobile-first styles FTW */

@media only screen and (min-width: $bp-small) and (max-width: $bp-med) {
@import "assets/css/_sass/mobile";
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
@import "assets/css/_sass/print";
}