header {
	position: fixed;
	width: 100%;
	height: 80px;
	top: 0;
	z-index: 1;
	padding: 15px 0 0 0;
	transition: background 150ms 300ms;
}

.home header {
	background: none;
}

.loggroup {
	float: left;
	margin-top: 0;
	outline: none;
	border: none;
}

.loggroup .login {
	margin-right: 25px;
	padding: 8px 0;
	transition: all 200ms;
	border-bottom: 3px solid transparent;
	&:hover {
		border-bottom: 3px solid $red;
		transition: all 200ms;
	}
}

.nav {
	display: inline-block;
	float: right;
	margin: 4px 0 0 0;
}

.hamburger {
	display: none;
}

.nav ul {
	padding: 0;
	list-style: none;
	margin: 0;
	display: inline-block;
}

.nav ul li {
	display: inline-block;
	margin-left: 25px;
	position: relative;
	&.home {
		display: none;
	}
}

.home .nav ul li a {
	padding: 8px 0;
	transition: all 200ms;
	border-bottom: 3px solid transparent;
	color: $dark_blue;
	&.join:hover {
		border-bottom: 2px solid transparent;
	}
	&:hover {
		border-bottom: 3px solid $red;
		transition: all 200ms;
	}
}

.home .nav ul li a.button {
	color: #fff;
	font-size: 14px;
	padding: .85em 1.5em;
	&:hover {
		border-bottom: 3px solid transparent;
	}
}

.home header ul li a {
	text-decoration: none;
	color: $dark_blue;
	&.mainlogin {
		color: $dark_blue;
	}
	&:hover {
		color: $dark_blue;
	}
}

header .logo {
	float: left;
}

header .logo svg {
  width: 200px;
  fill: #fff;
  margin: 5px 20px 0 0;
}

header {
	background: $dark_blue;
}

.nav ul li a {
	color: rgba($grey,.5);
	padding: 8px 0;
	&.mainlogin {
		color: rgba($grey, 1);
		margin-left: 35px;
	}
	&:hover {
		color: rgba($grey,1);
		transition: all 200ms;
		border-bottom: 3px solid $red;
	}
}

.ms-member .nav {
	margin: 17px 0 0 0;
}

header a {
	text-decoration: none;
	color: rgba($grey,.5);
	position: relative;
	&:hover {
		color: rgba($grey,1);
		transition: all 200ms;
	}
}

header .button {
	background: rgb(45,51,67);
	border-color: rgb(45,51,67) !important;
}

header.shown,
.home header.shown {
	background: $dark_blue;
	transition: background 150ms;
}

header.shown a,
.home header.shown ul li a {
	text-decoration: none;
	color: rgba($grey,.5);
	&:hover {
		color: rgba($grey,1);
		transition: all 200ms;
	}
}

header.shown .button,
.home header.shown .button {
	background: rgb(45,51,67);
	border-color: rgb(45,51,67);
}

.menu-item-has-children > a:before,
.menu-item-has-children > a:after {
	float: right;
	display: inline-block;
	width: 7px;
	height: 3px;
	background: #696D70;
	position: relative;
	margin: 6px 0 0 8px;
	content: "";
}

.menu-item-has-children > a:before {
	transform: rotateZ(-45deg);
	left: -12px;
}

.menu-item-has-children > a:after {
	transform: rotateZ(45deg);
}

.menu-item-has-children:hover a:before,
.menu-item-has-children:hover a:after {
	background: #BBBCBD;
}

.menu-item-has-children:hover ul {
	display: block;
}

.menu-item-has-children > ul {
	position: absolute;
  top: 25px;
  left: -17px;
  background: $dark_blue;
  border-radius: 0 0 4px 4px;
  padding: 5px;
  width: 130px;
	display: none;
	&:hover {
		display: block;
		white-space: nowrap;
	}
	li {
		margin: 0;
		line-height: 15px;
		padding: 6px 0;
		width: 100%;
		display: block;
		&:hover {
			border: none;
		}
		a {
			display: block;
			padding: 2px 12px;
			&:hover {
				border: none;
			}
		}
	}
}

.home .menu-item-has-children > ul li a {
	color: #fff;
	padding: 2px 12px;
	border: none;
	&:hover {
		border: none;
		color: #fff;
	}
}

@import "mobile_header";