.hero {
	width: 100vw;
	height: 94vh;
	position: relative;
}

.hero .hero_image {
	width: 100vw;
	position: relative;
}

.hero .hero_image img {
	width: 100%;
}

.hero .content {
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate3D(-50%,-50%,0);
	text-align: center;
}

.hero .content h1 {
	font-size: 6.4vw;
	letter-spacing: -0.5vw;
	color: #fff;
	text-shadow: 0 1px 10px rgba(0,0,0,.4);
	margin-bottom: 10px;
}

.hero .content h2 {
	font-size: 27px;
	color: #fff;
	text-shadow: 0 1px 4px rgba(0,0,0,.4);
}

.first {
	position: relative;
	padding: 19vh 0;
}

.second,
.third {
	position: relative;
	padding: 0;
}

.first {
	text-align: center;
	transform: skewY(7deg);
	background: $dark_blue;
}

.first .content {
	transform: skewY(-7deg);
}

.second {
	background: $med_blue;
	overflow: hidden;
}

.third {
	padding: 100px 0;
	text-align: center;
}

.group .content {
	width: 100%;
	padding-top: 85px;
}

.image_container {
	width: 50%;
	&.bottom {
		float: left;
	}
	&.top {
		float: right;
	}
}

.info.left {
	width: 40%;
	float: left;
}

.info.right {
	width: 40%;
	float: right;
	padding: 0;
	position: relative;
}

.second .group {
	height: auto;
}

section.first h1:after,
section.second h1:after,
section.third h1:after {
	width: 66px;
	height: 2px;
	background: rgba($grey, .34);
	display: block;
	content: "";
}

section.first h1:after {
	margin: 28px auto 0;
}

section.second h1:after,
section.third h1:after {
	margin: 28px 0 0 0;
}

.button .arrow {
	display: inline-block;
	margin: 0 0 0 10px;
	position: relative;
  top: -1px;
}

.button .arrow svg {
	fill: #fff;
	width: 15px;
	vertical-align: middle;
}

.bullseye {
	width: 122px;
	height: 122px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3D(-50%,-50%,0);
}

@import 'mobile_home';