/* Apply a box-sizing technique to make padding and
margins add up to actual values in the box total */

html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit;}

/* ==========================================================================
   COLORS & FONTS
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  color: $orange;
  font-weight: 300;
  margin: 0 0 28px 0;
}

h1 { font-size: 28px; }
h2 { font-size: 38px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }

p {
	font-size: 15px;
	line-height: 28px;
  margin: 0 0 28px 0;
}

.lefty {
    text-align: left;
}

.righty {
    text-align: right;
}

.centery {
    text-align: center;
}

/* ==========================================================================
   Margins and Layout (should only be used in emergencies)
   ========================================================================== */

.martop10 { margin-top: 10px; }
.martop20 { margin-top: 20px; }
.martop30 { margin-top: 30px; }
.martop40 { margin-top: 40px; }
.martop50 { margin-top: 50px; }
.martop60 { margin-top: 60px; }
.martop70 { margin-top: 70px; }
.martop80 { margin-top: 80px; }
.martop90 { margin-top: 90px; }
.martop100 { margin-top: 100px; }

.marbot10 { margin-bottom: 10px; }
.marbot20 { margin-bottom: 20px; }
.marbot30 { margin-bottom: 30px; }
.marbot40 { margin-bottom: 40px; }
.marbot50 { margin-bottom: 50px; }
.marbot60 { margin-bottom: 60px; }
.marbot70 { margin-bottom: 70px; }
.marbot80 { margin-bottom: 80px; }
.marbot90 { margin-bottom: 90px; }
.marbot100 { margin-bottom: 100px; }

.padtop10 { padding-top: 10px; }
.padtop20 { padding-top: 20px; }
.padtop30 { padding-top: 30px; }
.padtop40 { padding-top: 40px; }
.padtop50 { padding-top: 50px; }
.padtop60 { padding-top: 60px; }
.padtop70 { padding-top: 70px; }
.padtop80 { padding-top: 80px; }
.padtop90 { padding-top: 90px; }
.padtop100 { padding-top: 100px; }

.padbot10 { padding-bottom: 10px; }
.padbot20 { padding-bottom: 20px; }
.padbot30 { padding-bottom: 30px; }
.padbot40 { padding-bottom: 40px; }
.padbot50 { padding-bottom: 50px; }
.padbot60 { padding-bottom: 60px; }
.padbot70 { padding-bottom: 70px; }
.padbot80 { padding-bottom: 80px; }
.padbot90 { padding-bottom: 90px; }
.padbot100 { padding-bottom: 100px; }

/* ==========================================================================
   COLORS
   ========================================================================== */

/* ==========================================================================
   DEFAULT STYLES
   ========================================================================== */

.wrapper {
  position: relative;
  margin: 0 auto;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}