
body {
}

/************************************************* TYPOGRAPHY ************************************************/

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	margin: 0 0 20px 0;
}

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h5 { font-size: 14px; }

p {
	font-weight: lighter;
	font-size: 15px;
	line-height: 24px;
}

.wrapper {
	padding: 0 15px;
}

/******* RETINA SPECIFIC STYLES **********/

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

}

