
section.chart {
	padding: 75px 0;
}

.top_info {
	margin-top: 0;
	padding: 40px 0 15px;
}

.analysis_type {
	width: 100%;
	text-align: center;
}

.analysis_type ul {
	margin: 0 auto 50px;
	padding: 0;
	list-style: none;
	display: flex;
}

.analysis_type ul li {
	flex: 1;
	margin: 0 2px;
	&:first-child {
		margin: 0 2px 0 0;
	}
	&:last-child {
		margin: 0 0 0 2px;
	}
	&.current_page_item a {
		border-bottom: 3px solid rgba($light_blue, 1);
  	color: #fff;
	}
}

.analysis_type ul li a {
	display: block;
	width: 100%;
	background: $med_blue;
	text-decoration: none;
	color: rgba($grey, .65);
	padding: 15px 0 17px;
	transition: all 200ms;
	&:hover {
		color: #fff;
		background: rgb(45,51,67);
		box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.3);
		transition: all 200ms;
	}
}

.navvy {
	width: 220px;
	border-radius: 3px;
	margin-bottom: 15px;
	z-index: 500;
	float: left;
}

.button_group {
	text-align: left;
	// float: right; Add this when there is a drop down
}

.button_group ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-radius: 2px;
	text-align: left;
	margin-bottom: 55px;
}

.button_group ul li {
	width: 100%;
	display: block;
	margin: 0 0 4px 0;
	a {
		display: block;
		width: 100%;
		background: $med_blue;
		font-size: 13px;
		color: rgba($grey,1);
	  padding: 15px;
	  transition: all 150ms;
	  text-decoration: none;
	  &:hover {
			color: #fff;
			transition: all 150ms;
	  }
	  &:hover {
	  	box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.3);
	  	background: rgb(45,51,67);
	  }
	}
	&.current a {
  	border-left: 3px solid rgba($light_blue, 1);
  	color: #fff;
  }
}

.tabscontent div.fullScreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 80px;
	width: 100%;
	height: 100%;
	background: $dark_blue;
	z-index: 10;
	overflow: scroll;
	transition: all 150ms;
}

.shrink {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 500;
	display: none;
	&.visible {
		display: inline-block;
	}
}

.tabscontent.species_information,
.tabscontent.unit_information {
  width: 774px;
  float: left;
  margin-left: 30px;
  margin-bottom: 35px;
}

.tabscontent.species_chart {
  width: 100%;
  float: none;
  margin-left: 0;
}

.charts {

}

.intro p {
  font-size: 17px;
  line-height: 33px;
}

#sticky-wrapper {
	width: 220px;
	float: left;
}

// .tabscontent .content {
// 	height: 58vh;
// 	overflow: scroll;
// }

.sector {
	margin-bottom: 35px;
}

.sector.species {
	margin-bottom: 0;
	p:last-child {
		margin: 0;
	}
}

.sector.species.trophy {
	margin-bottom: 40px;
}

.sector.rules {
	margin-bottom: 0;
	}

.tabscontent ul,
.tabscontent ol {
	margin: 0 0 25px 0;
	padding: 0 0 0 30px;
}

.tabscontent ul {
	list-style: disc;
}

.tabscontent ol {
	list-style: decimal;
}
.tabscontent ul li,
.tabscontent ol li {
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 28px;
	font-weight: lighter;
}

.tabscontent a,
.intro a {
	color: $red;
	text-shadow: 0 2px 0 $dark_blue;
	text-decoration: none;
	border-bottom: 1px solid $red;
}

.tabscontent b {
	font-weight: bolder;
}

.species_info {
	width: 100%;
	padding: 0;
	text-align: center;
}

.species_info div {
	margin: 0 0 10px 0;
	width: 100%;
	height: auto;
	p{
		font-size: 14px;
		line-height: 23px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.species_info h4 {
	text-align: left;
}

.species_info div h5,
#Fees-and-Deadlines h5,
.app_deadline_info h5 {
	padding: 8px 15px;
	height: 35px;
	font-size: 14px;
	line-height: 20px;
	background: rgba($med_blue,1);
	color: rgba($light_blue, .65);
  display: flex;
  align-items: center;
  // justify-content: center;
  margin: 0;
  text-align: left;
}

.species_info .record {
	b, strong {
		display: block;
		font-weight: lighter;
		color: rgba($grey, .35);
	}
}

.species_info .record.single p {
	text-align: left;
	width: 100%;
	padding: 10px 15px 5px;
	&:last-child {
		border-left: none;
	}
}

.species_info p {
	text-align: left;
	width: 50%;
	float: left;
	padding: 10px 15px 5px;
	margin: 0;
	&:last-child {
		border-left: none;
	}
	span {
		display: block;
		font-weight: normal;
		color: rgba($grey, .35);
	}
}

.sep {
	width: 70px;
	height: 5px;
	margin: 50px auto;
	background: rgba($light_blue, .15);
}

#Fees-and-Deadlines,
.app_deadline_info {
	margin-bottom: 30px;
	.boxes {
		b, strong {
			display: block;
			font-weight: lighter;
			color: rgba($orange, 1);
		}
	}
	.animal {
		width: 48%;
		float: left;
		&.two {
			width: 30%;
		}
	}
	.cost {
		float: left;
		width: 12%;
		p {
			text-align: right;
		}
		&.two {
			width: 19%;
		}
	}
	.date {
		float: left;
		width: 40%;
		p {
			text-align: right;
		}
		&.two {
			width: 32%;
		}
	}
	.avail {
		width: 19%;
		float: left;
		p {
			text-align: right;
		}
	}
}

#Fees-and-Deadlines h5,
.app_deadline_info h5 {
	margin-bottom: 5px;
}

#Fees-and-Deadlines p,
.app_deadline_info p {
	text-align: left;
	padding: 2px 15px;
	margin: 0;
	span {
		display: block;
		color: rgba($grey, .35);
		margin-bottom: 4px;
	}
}

.footnote {
  font-size: 11px;
  text-align: center;
  margin: 20px auto 0;
 	color: #696D70;
 	a {
 		color: #696D70;
 	}
}