.page-template-page-admin
	background-color rgba($grey, .12)

	.entry-content
		background-color #fff
		border-radius 5px
		box-shadow 0 25px 68px -17px rgba(0,0,0,0.18)
		margin 55px auto 0
		padding 70px
		width 80%

	.leaky-paywall-payment-button a, .stripe-button-el, #leaky-paywall-submit, .button-primary
		background none
		background-color $red
		background-image none
		border none
		border-radius 2px
		color #fff
		display inline-block
		font-family $das
		font-size 15px
		font-weight 700
		height auto
		margin 0 auto
		min-height auto
		outline none
		padding 1em 1.5em 1.05em
		text-align center
		text-decoration none
		text-transform uppercase
		transition all $one-fifty

		#leaky-paywall-submit
			background none
			border none
			color #fff
			font-family $das
			font-size 15px
			font-weight 700
			outline none
			text-transform uppercase

		span
			background-color transparent
			background-image none
			border-top 0
			box-shadow none
			font-family $das
			font-size 15px
			line-height auto
			min-height 0
			padding 0

		&:hover
			background rgb(198,66,71)
			box-shadow 0 7px 24px 0px rgba(0, 0, 0, 0.3)
			color #fff

	.stripe-button-el
		display none

.post-1001 .entry-content
	padding-bottom 30px