#loginform

	p
		align-items center
		display block
		margin-bottom 10px

		label
			display inline-block
			padding-right 10px
			text-align left
			width 50%

		input[type=text], input[type=email], input[type=password]
			flex none
			width 50%

		input[type=text].exp-year, input[type=text].exp-month
			flex none
			width 22%

		input[type=text].exp-month
			margin-right 6px

		input[type=text].exp-year
			margin-left 6px

	.login-submit
		margin-top 35px

	a
		color $red
		display inline-block
		font-size 12px
		margin-top 45px
		text-decoration none