@import 'fonts';

/************** Fonts ***************/

$das = 'das', sans-serif
$volte = 'volte', sans-serif

/************** Animations ***************/

$one-fifty = 150ms

/************** Colors ***************/

$red = rgb(182,63,68)
$orange = rgb(212,154,73)
$light-blue = rgb(99,155,171)
$med-blue = rgb(30,34,44)
$dark-blue = rgb(25,30,37)
$grey = rgb(187,188,189)
$green = rgb(10,215,116)

/************ BREAK POINTS *****************/

$bp-small = 20em
$bp-med = 35.3em
$bp-tab = 46.8em
$bp-large = 46.9em
$bp-xl = 73em
