footer
	background-color $dark-blue
	color #fff
	height 60px
	padding 70px 0 100px
	text-align center

	p
		font-size 13px
		margin 0

	a
		background-color transparent
		color $red
		display inline-block
		padding 0 5px
		text-decoration none
		transition all $one-fifty

		&:hover
			background-color $red
			color #fff
			transition all $one-fifty

.social
	display none

.copyright
	color #fff