@media (min-width: $bp-small) and (max-width: $bp-med)

	.button
		display block

	header
		height 45px
		padding 0 10px

	.logo-group
		padding-top 10px

		.logo svg
			width 120px

	.nav
		background #fff
		height 20px
		position absolute
		right 10px
		top 13px
		width 20px

		&:before
			background linear-gradient(
				to bottom,
				$dark-blue, $dark-blue 20%,
				white 20%, white 40%,
				$dark-blue 40%, $dark-blue 60%,
				white 60%, white 80%,
				$dark-blue 80%, $dark-blue 100%
			)
			content ""
			display block
			height 15px
			position absolute
			right 0
			top 2px
			width 20px

	.menu-header-menu-container
		background #fff
		float none
		height 100vh
		left 110%
		position fixed
		top 46px
		width 100%
		transition left 150ms

		&.active
			left 0%
			transition left 150ms

	.nav ul
		margin 0
		padding 12px 10px

		li
			display block
			margin 0
			padding 0

			&.menu-item-has-children
				> a:before, a:after
					display none

				> ul.sub-menu
					box-shadow none
					display block
					left 0
					padding 0px 10px
					position relative
					top 0

					li
						line-height 19px

						a:hover, a:active
							background rgba($grey, .1)
							box-shadow none
							color $red

			a
				border none
				display block
				padding 10px
				width 100%

				&:hover, &:active
					background rgba($grey, .1)
					border-color transparent

		&.login-stuff
			align-items stretch
			background $red
			bottom 0
			border none
			color #fff
			display flex
			height 40px
			left 110%
			margin 0
			padding 0
			position fixed
			right 0
			width 100%
			transition left 150ms

			&.active
				left 0%
				transition left 150ms

			li
				align-items center
				display flex
				flex 1

				&.right
					border-left 1px solid #fff

				a
					border none
					text-align center
					padding 14px 0

					&:hover, &:active
						background transparent
						border none
						color rgba(255,255,255,.5)

					&.main-login
						color #fff

						&:hover
							color rgba(255,255,255,.5)

					&.button.solid.red:hover
						background transparent
						border-color none
						box-shadow none
						color rgba(255,255,255,.5)

					&.join
						border none

	.logged-in .nav ul.login-stuff
		background rgba($grey, .4)
		margin 0
		padding 0

		li a
			color $dark-blue













