@media (min-width: 320px) and (max-width: 564px)

	.hero
		height 260px
		margin-top 45px

		h1
			font-size 38px
			letter-spacing -2px

		h2
			font-size 28px
			letter-spacing -1px

	.first,
	.third

		.content
			margin 50px auto
			min-width 100%
			padding 20px 10px
			text-align left

	.second

		.content
			margin 40px auto 35px
			padding 20px 10px

		.image-container,
		.content
			float none
			width 100%

	.first

		.content
			margin 50px auto 0