@media (min-width: 320px) and (max-width: 564px)

	.hero

		h1
			font-size 45px
			letter-spacing -2px

		h2
			font-size 30px
			letter-spacing -1px

	.first,
	.third

		.content
			margin 40px auto
			min-width 100%
			padding 20px 10px

	.second

		.content
			padding 20px 10px

		.image-container,
		.content
			float none
			width 100%
