@media (min-width: $bp-small) and (max-width: $bp-med)

	.page-template-page-unit-analysis .chart,
	.page-template-page-trophy-analysis .chart,
	.page-template-page-rules-regulations .chart,
	.page-template-page-unit-analysis-demo .chart,
	.page-template-page-trophy-analysis-demo .chart,
	.page-template-page-rules-regulations-demo .chart
		margin 75px auto 0
		min-width 100%
		width 100%

		.top-info
			&:after
				height 0
				margin 0 auto 45px
				padding 45px 0 0

			.content
				max-width 100%
				width 100%

			.analysis-type
				max-width 100%
				padding 0 25px
				width 100%

				.expand
					display none

		.tabscontent.species-information,
		.tabscontent.unit-information
			margin-top 35px

			h4
				margin-bottom 25px

	.navvy.species,
	.navvy.unit-info

		.button-group
			max-width 100%
			width 86%

	.tabscontent.species-information,
	.tabscontent.unit-information
		margin-top 35px

		h5
			font-size 15px
			margin-bottom 25px

	.boxes
		margin-bottom 15px
		padding 0

		.animal,
		.date,
		.cost,
		.avail

			display block

			p
				font-size 12px
				line-height 15px

				&.header
					height 55px
					margin-bottom 10px

				strong
					font-size 10px

				&.item
					height 50px
					margin 0

					&:first-child
						font-size 10px
						height 65px

				&.spacer-thing
					height 50px
					margin 0

	.tabscontent.species-information,
	.tabscontent.unit-information,
	.tabscontent.rules-regulations

		ul,
		ol
			font-size 15px
			margin-bottom 40px
			padding 0 0 0 25px

			li
				line-height 22px

	p.footnote
		font-size 13px
		text-align center
		width 90%

	.app_deadline_info
		margin-bottom 25px

	.page-template-page-trophy-analysis .tabscontent.species-information,
	.page-template-page-trophy-analysis-demo .tabscontent.species-information

		.record

			h5
				font-size 10px

			p
				font-size 12px
				line-height 15px


