@media (min-width: $bp-small) and (max-width: $bp-med)

	.page-template-page-unit-analysis .chart,
	.page-template-page-trophy-analysis .chart,
	.page-template-page-rules-regulations .chart,
	.page-template-page-unit-analysis-demo .chart,
	.page-template-page-trophy-analysis-demo .chart,
	.page-template-page-rules-regulations-demo .chart
		margin 125px auto 0