@media (min-width: $bp-small) and (max-width: $bp-med)

	.page-template-page-unit-analysis .chart,
	.page-template-page-trophy-analysis .chart,
	.page-template-page-rules-regulations .chart,
	.page-template-page-unit-analysis-demo .chart,
	.page-template-page-trophy-analysis-demo .chart,
	.page-template-page-rules-regulations-demo .chart
		margin 125px auto 0
		min-width 100%
		width 100%

		.top-info
			&:after
				height 0
				margin 0 auto 45px
				padding 45px 0 0

			.content
				max-width 100%
				width 100%

			.analysis-type
				max-width 100%
				padding 0 25px
				width 100%

				.expand
					display none

	.navvy.species,
	.navvy.unit-info

		.button-group
			max-width 100%
			width 86%

	.tabscontent.species-information,
	.tabscontent.unit-information
		margin-top 35px

		h5
			font-size 15px
			margin-bottom 25px

	.boxes
		padding 5px 0

		.animal,
		.date,
		.cost,
		.avail

			display block

			p
				font-size 12px
				line-height 15px

				&.header
					height 35px
					margin-bottom 10px

				strong
					font-size 11px

				&.item
					height 65px
					margin 0

				&.spacer-thing
					display none
					margin 0



