.page-template-page-landing-page
  padding-top 140px
  
  .nav 
    .menu-item-2010,
    .menu-item-100,
    .menu-item-99,
    .menu-item-262,
    .menu-item-1998,
    .menu-item-2037,
    .menu-item-2041,
    .main-login,
    .login-stuff
      display none 
      
    .right
      margin 0
  
  .ranger
    margin-bottom 25px
    text-align center
    
  .internal_content,
  article
    max-width 940px
    width 100%
    
    img
      height auto
      max-width 500px
      width 100%
      
    h4
      margin 0 auto 25px
      max-width 940px
      
    p
      margin 0 auto 25px
      max-width 800px  
      
    blockquote p
      color #B64247
      font-size 24px
      font-weight bold
      line-height 30px
      max-width 940px
      
    blockquote.big p
      font-size 32px
      line-height 40px
      text-align center
    
  .alignleft
    float left
    margin 0 50px 50px 0
    
  .alignright
    float right
    margin 0 0 50px 50px
    
  .signup-today
    background $dark-blue
    box-shadow 0 12px 31px -3px rgba(0,0,0,.35)
    margin 80px auto 80px
    padding 40px
    text-align center
    width 80%
    
    h3
      color white
      line-height 40px
    
    h1
      color white
  
@media (min-width: $bp-small) and (max-width: $bp-med)

  .page-template-page-landing-page
    padding-top 80px
    
    .nav
      display none
    
    .internal_content,
    article
      blockquote p
        font-size 16px
        line-height 20px
        
      blockquote.big p
        font-size 18px
        line-height 25px
        
    .alignleft
      float left
      margin 0 25px 25px 0
      
    .alignright
      float right
      margin 0 0 25px 25px
      
    .signup-today
      margin 40px auto 40px
      padding 40px 40px 20px
      width 90%
      
      h3
        line-height 25px