@media (min-width: $bp-small) and (max-width: $bp-med)

	#loginform

		p

			label
				width 100%

			input[type=text], input[type=email], input[type=password]
				flex none
				width 100%

		.login-submit
			margin-top 25px

			input[type=submit]
				background $red
				background-image none
				background-color $red
				border none
				border-radius 2px
				display block
				outline none
				-webkit-appearance: none;

		a
			margin 25px 0 45px