@media (min-width: $bp-small) and (max-width: $bp-med)

	#loginform

		p

			label
				width 100%

			input[type=text], input[type=email], input[type=password]
				flex none
				width 100%

		.login-submit
			margin-top 25px

			input[type=submit]
				background $red
				border none
				border-radius 2px

		a
			margin 25px 0 45px