@media (min-width: $bp-small) and (max-width: $bp-med)

	.page-template-page-admin

		.content
			padding 20px 0

		.entry-content
			margin 25px auto 0
			padding 40px 20px 0
			width 100%

	.leaky-paywall-subscription-details-wrapper,
	.leaky-paywall-payment-form
		float none
		margin-bottom 25px
		padding 0
		width 100%

	.leaky-paywall-payment-form

		p
			label
				width 35%

			input[type=text],
			input[type=email],
			input[type=password]
				width 65%

	.leaky-paywall-subscription-total
		border-bottom 1px solid rgba($grey, .4)
		padding-bottom 20px


	#leaky-paywall-submit
		width 100%

	.leaky_paywall_message.error
		border-radius 5px
		display block
		margin-bottom 35px
		padding 10px
		position relative
		text-align left