@media (min-width: $bp-small) and (max-width: $bp-med)

	.leaky-paywall-profile-subscription-details

		thead tr th
			font-size 10px

	#leaky-paywall-profile,
	#leaky-paywall-update-credit-card
		width 100%

		p

			label
				width 35%

			input[type=text],
			input[type=email],
			input[type=password]
				width 65%