@media (min-width: 320px) and (max-width: 564px)

	.internal-hero
		border 10px solid #fff
		height 40vh
		margin 45px 0 10px

		h1
			font-size 38px

	.internal_content
		min-width 100%
		padding 20px 10px