@media (min-width: $bp-small) and (max-width: $bp-med)

	.page-template-page-state

		.chart
			margin 0 auto 25px
			min-width 100%

			.content
				min-width 100%

			.analysis-type
				max-width 100%
				padding 10px 20px
				width 100%

	.internal-hero
		border 10px solid #fff
		height 40vh
		margin 45px 0 10px

		h1
			font-size 38px

	.internal_content
		min-width 100%
		padding 20px 10px

	.logged-out
		display none