@import 'reset'
@import	'mixins'

// GLOBAL STYLES

*
	box-sizing border-box

::-moz-selection
	background-color $red
	color #fff
	text-shadow none

::selection
	background-color $red
	color #fff
	text-shadow none

body
	background-color #fff
	font-family $das
	line-height 1
	margin 0
	padding 0
	-webkit-font-smoothing antialiased

.wrapper
	margin 0 auto
	max-width 1200px
	width 100%

.cf:after
	content ""
	display table
	clear both

.post-edit-link
	background-color #fff
	border-radius 2px
	bottom 50px
	box-shadow 0 4px 17px 0px rgba(0, 0, 0, 0.13)
	color $red
	font-size 11px
	font-weight 700
	padding 10px 15px
	position fixed
	right 50px
	text-decoration none
	text-transform uppercase

@media (min-width: $bp-small) and (max-width: $bp-med)

	.wrapper
		margin 0 auto
		min-width 100%
		padding 0 10px

@import 'typography'
@import 'admin-pages'
@import 'buttons'

/// PAGE STYLES

@import 'header'
@import 'home'
@import 'footer'
@import 'forms'
@import 'inner-pages'
@import 'login'
@import 'logged-in'
@import 'payments'
@import 'profile'
@import 'state'
@import 'tables'
@import 'validation'
@import 'what-we-do'
@import 'who-we-are'
@import 'coming-soon'