@media (min-width: $bp-small) and (max-width: $bp-med)

	.table_container
		padding-top 45px

		th
			font-size 10px
			min-width 120px
			padding 15px 10px

		td
			font-size 12px
			min-width 120px
			padding 8px

	.close
		font-size 10px
		padding 5px
		right 10px
		top 12px

	.table-head
		height 45px

	.table-active .navvy.species
		display none

	.table_toggle.calculating
		left 10px
		top -27px

		label
			display none

		input[type=text]
			font-size 12px
			padding 7px 8px 8px

	.table-container
		margin 20px auto 50px
		width 100%
		z-index 0

		th
			font-size 10px
			min-width 120px
			padding 15px 10px

		td
			font-size 12px
			min-width 120px
			padding 8px

	p.footnote.pushed
		margin 25px auto 0