@media (min-width: $bp-small) and (max-width: $bp-med)

	h1
		font-size 28px
		letter-spacing -1px

	h2
		font-size 25px
		letter-spacing -1px

	h3
		font-size 22px
		letter-spacing -1px

	p
		font-size 15px
		line-height 22px
		margin-bottom 40px