h1, h2, h3, h4, h5, h6, p
	color $dark-blue

h1, h2, h3, h4, h5, h6
	font-family $volte
	font-weight 700

h1
	font-size 50px
	letter-spacing -2px
	margin-bottom 15px

h2
	font-size 40px
	letter-spacing -1.5px
	margin-bottom 15px

h3
	font-size 30px
	letter-spacing -1px
	margin-bottom 15px

p
	font-size 17px
	line-height 25px
	margin-bottom 40px

.content p:last-child
	margin-bottom 0

@media (min-width: 320px) and (max-width: 564px)

	h1
		font-size 45px