@media (min-width: $bp-small) and (max-width: $bp-med)

	.internal_content
		margin 0 auto 20px
		max-width 900px
		min-width 100%

	.centery
		margin 15px auto 35px

	.two_col

		&.left,
		&.right

			.spacer
				display none