@media (min-width: $bp-small) and (max-width: $bp-med)

	.two_col

		&.left,
		&.right
			padding 0
			width 100%

			p
				margin-bottom 20px

			img
				margin-bottom 20px

	.single_col

		p
			margin-bottom 20px